@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "YekanBakhFaNum";
  }
}
:root {
  --primary: #2548ab;
  --primary-50: #ecf0fb;
  --primary-100: #c6d1f3;
  --primary-200: #a0b3ea;
  --primary-300: #7a95e2;
  --primary-400: #5476da;
  --primary-500: #2e58d1;
  --primary-600: #2548ab;
  --primary-700: #1d3885;
  --primary-800: #1d3885;
  --primary-900: #0c1839;
  --primary-950: #040813;

  --secondary: #11c086;
  --secondary-50: #eafdf7;
  --secondary-100: #bff9e6;
  --secondary-200: #94f6d5;
  --secondary-300: #6af2c5;
  --secondary-400: #3feeb4;
  --secondary-500: #14eba4;
  --secondary-600: #11c086;
  --secondary-700: #0d9568;
  --secondary-800: #096b4a;
  --secondary-900: #06402d;
  --secondary-950: #02150f;

  --tertiary: #d14700;
  --tertiary-50: #fff0e8;
  --tertiary-100: #ffd1b9;
  --tertiary-200: #ffb38b;
  --tertiary-300: #ff945d;
  --tertiary-400: #ff762e;
  --tertiary-500: #ff5700;
  --tertiary-600: #d14700;
  --tertiary-700: #a23700;
  --tertiary-800: #742800;
  --tertiary-900: #461800;
  --tertiary-950: #170800;

  --special-1: #dfdfdf33;
  --special-2: #FFFFFF80;

  ---bg: url("");
  --default-bg: url("../images/default-back.jpg");
  --tourlist-bg: url("../images/tour-list-back.jpg");
  --tourCategory-bg: url("../images/tour-category-back.png");
  --search-bg: url("../images/search-back.jpg");
  --freeformgray-bg: url("../images/free-form-gray.jpg");
}

@font-face {
  font-display: swap;
  font-family: "YekanBakhFaNum";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/YekanBakhFaNum-Thin.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "YekanBakhFaNum";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/YekanBakhFaNum-Light.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "YekanBakhFaNum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/YekanBakhFaNum-Regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "YekanBakhFaNum";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/YekanBakhFaNum-SemiBold.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "YekanBakhFaNum";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/YekanBakhFaNum-Bold.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "YekanBakhFaNum";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/YekanBakhFaNum-ExtraBold.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "YekanBakhFaNum";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/YekanBakhFaNum-Black.woff") format("woff");
}

.direction-ltr {
  direction: ltr;
}

.unicode-embed {
  unicode-bidi: embed;
}

.border-bottom-gradient {
  border-bottom: 1px solid;
  border-image-source: radial-gradient(
    50% 1287.86% at 50% 100%,
    #e3e3e3 0%,
    #ffffff 100%
  );
  border-image-slice: 1;
}
.border-footer {
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-image-source: radial-gradient(
    50% 363.18% at 50% 50.11%,
    #cfcfcf 0%,
    #f2f2f2 100%
  );
  border-image-slice: 1;
}
.h1-shadow {
  text-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
}

.custom-dashed-left {
  border-left: 3px solid;
  border-image: repeating-linear-gradient(
      to bottom,
      #1e2128 0,
      #1e2128 6px,
      transparent 6px,
      transparent 12px
    )
    1;
}

.swiper-big-img {
  height: 80%;
  width: 100%;
}

.swiper-small-img {
  height: 20%;
  box-sizing: border-box;
}

.swiper-small-img .swiper-slide {
  width: 25%;
  height: 100%;
}

.plus-before:not(:last-child)::after {
  content: "";
  position: absolute;
  left: -1rem;
  width: 8px;
  height: 7px;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='7' viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.06288 4.096H0.734875V2.318H7.06288V4.096ZM4.78088 0.106V6.308H3.01688V0.106H4.78088Z' fill='black'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.vertical-border:not(:last-child)::before {
  content: "";
  position: absolute;
  right: 7.5rem;
  top: -1.25rem;
  width: 2px;
  height: 116px;
  background-image: url("data:image/svg+xml,%3Csvg width='2' height='116' viewBox='0 0 2 116' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1' y1='4.37114e-08' x2='0.999995' y2='116' stroke='%23D7DBE1' stroke-width='2' stroke-dasharray='12 12'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.slider-wrapper input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: #11c086;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 20;
  margin-top: 10px;
}

.slider-wrapper input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><circle cx='10' cy='10' r='10' fill='%2311C086'/><circle cx='10' cy='10' r='4' fill='white'/></svg>")
    no-repeat center;
  background-size: cover;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 30;
  margin-top: 8px;
}

.slider-wrapper input[type="range"]::-moz-range-thumb {
  pointer-events: auto;
  height: 16px;
  width: 16px;
  background: #11c086;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 20;
}
